{% extends "tasks/base.html" %}

{% block content %}
    {% for category in categories %}
        <h1>{{ category.name|title }}</h1>
        <ul>
        {% for item in category.todoentry_set.all %}
            <li>{{ item.name }}: {{ item.description }} | créé il y a {{ item.creation_date|timesince}}</li>
        {% empty %}
            <p>Cette catégorie n'a pas d'élément.</p>
        {% endfor %}
        </ul>
    {% empty %}
        <p>Il n'y a pas encore de catégorie.</p>
    {% endfor %}
{% endblock content %}