
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Exemple &#8212; Documentation Formation Django 1.0</title>
    <link rel="stylesheet" href="../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <script type="text/javascript" src="../_static/translations.js"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Recherche" href="../search.html" />

  <link rel="stylesheet" href="../_static/custom.css" type="text/css" />


  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            <div class="section" id="sommaire">
              <a href="/emencia-django-training/src/home.html" class="button">SOMMAIRE</a>
            </div>

  <p>Si vous utilisez une librairie tierce, il est tout à fait possible qu’elle définisse ses propres templates.
Rien de très grave, bien au contraire. C’est toujours ça de moins à faire soit même.</p>
<p>Oui mais voilà, comment customiser ces templates ? Nous n’y avons pas accès directement ! Ou alors il faudrait modifier la librairie à la main et maintenir une version parallèle du module avec nos templates ? Quel cauchemar.</p>
<p>En fait, c’est très simple.</p>
<p>Lors de la résolution des templates, Django utilisera le premier template dont le chemin correspond à celui fourni (même comportement que pour matcher les URLs).</p>
<p>Django va commencer par chercher dans le dossier <code class="docutils literal notranslate"><span class="pre">/templates</span></code> puis dans chaque dossier <code class="docutils literal notranslate"><span class="pre">templates</span></code> de chaque application  listées dans <code class="docutils literal notranslate"><span class="pre">INSTALLED_APPS</span></code> (dans <code class="docutils literal notranslate"><span class="pre">settings.py</span></code>) en conservant l’ordre.</p>
<div class="section" id="exemple">
<span id="exemple"></span><h1>Exemple<a class="headerlink" href="#exemple" title="Lien permanent vers ce titre">¶</a></h1>
<p>Prenons une application tierce nommée <code class="docutils literal notranslate"><span class="pre">registration</span></code> qui définit un template de login (<code class="docutils literal notranslate"><span class="pre">registration/login.html</span></code>)</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% extends &#39;registration/base.html&#39; %}

{% block content %}
<span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Login<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
{{ form }}
{% endblock content %}
</pre></div>
</div>
<p>Pour utiliser un template propre à notre application sans toucher aux vues de ce module, on peut créer un template dans le dossier <code class="docutils literal notranslate"><span class="pre">templates</span></code> à la racine de notre projet :</p>
<p><code class="docutils literal notranslate"><span class="pre">registration/login.html</span></code> (in <code class="docutils literal notranslate"><span class="pre">/templates</span></code>)</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% extends &#39;my_site/base.html&#39; %}

{% block content %}
<span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Veuillez vous connecter<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;login_form&quot;</span><span class="p">&gt;</span>
    {{ form }}
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
{% endblock content %}
</pre></div>
</div>
<p>Ainsi, lorsque le module <code class="docutils literal notranslate"><span class="pre">registration</span></code> va appeler le template <code class="docutils literal notranslate"><span class="pre">login.html</span></code>, c’est bien notre template qui sera pris en compte !</p>
</div>
<div class="section" id="footer">
  <a href="/emencia-django-training/src/gestion-fichiers-statiques-et-url.html" class="button left">PRÉCEDENT</a>
  <a href="/emencia-django-training/src/vues-generiques.html" class="button right">SUIVANT</a>
</div>

          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper"><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>Cette page</h3>
    <ul class="this-page-menu">
      <li><a href="../_sources/src/Gestion-des-templates-avec-des-librairies-tierces.md.txt"
            rel="nofollow">Montrer le code source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Recherche rapide</h3>
    <div class="searchformwrapper">
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2017, Adrien Brunet.

      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.7.5</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>

      |
      <a href="../_sources/src/Gestion-des-templates-avec-des-librairies-tierces.md.txt"
          rel="nofollow">Page source</a>
    </div>




  </body>
</html>
