a.button {
    font-family: arial;
    font-size: 13px;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 25px;
    background-color: #0db4d6;
    color: #fff;
    border: .15rem solid #0a90ab;
    transition: all .3s;
}

a.button:hover {
    background-color: #fff;
    color: #0db4d6;
}

#sommaire {
  margin-bottom: 1.5rem;
}
